<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="" alt="" style="object-fit: cover;"> 
                </div>       
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">
                        About Us
                    </h5>
                    <h1 class="display-4">
                        Best Medical Care for Your Yourself And Your Family
                    </h1>
                    <p>
                        AMC is the result of 23 years experience within sales, marketing & business development in the field of pharmaceuticals & medical devices. Founded with immense vision by Mr. Maisara Fahel, who has a vast experience in developing business in the healthcare field, international sales, marketing and business management. Several factors have contributed to the success of the company, including first of all its owners’ commitment and work, existing mix of contacts & the strong net working experience in the local and regional markets, their knowledge of the markets and the ability to guess at consumer expectations. Also talented and well-educated people employed by AMC are of great importance, as they are the greatest asset of the company. We pride ourselves on our proven track record for effectively developing business in different markets in the region.
                    </p>
                    <p>
                        AMC is a Jordanian company that is specialized in the field of medical devices and pharmaceuticals. We are committed to providing the highest quality products and services to our customers. We are dedicated to improving the quality of life for patients and to help our customers succeed in the healthcare market. We are committed to providing the highest quality products and services to our customers. We are dedicated to improving the quality of life for patients and to help our customers succeed in the healthcare market.
                    </p>
                    <p>
                        We seek to develop long-term and profitable relationships with both our customers throughout the region and our suppliers throughout the world, based on a common understanding of the marketplace and a shared objective to meet demands.
                    </p>
                    <p>
                        Furthermore, we are always focusing on presenting products that give our consumers value, safety and enrich their health & quality of life.  
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Our Team</h5>
            <h1 class="display-4">Qualified Healthcare Professionals</h1>
        </div>
        <div class="position-relative">
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                       <img class="img-fluid h-100" src="\assets\392.jpg" style="object-fit: cover; width: 250px; height: 150px;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Maisara Fahel</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">General Manager</h6>
                            <p class="m-0">
                                Dolor lorem eos dolor duo eirmod sea. Dolor sit magna rebum clita rebum dolor
                                Dolor lorem eos dolor duo eirmod sea. Dolor sit magna rebum clita rebum dolor
                                Dolor lorem eos dolor duo eirmod sea. Dolor sit magna rebum clita rebum dolor
                            </p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>        
