<div class="container-fluid py-2 border-bottom-d-none-d-lg-block">
    <div class="container">
        <div class="col-md-6 text-center text-lg-end">
            <div class="d-inline-flex align-items-center">
                <a href="" class="text-decoration-none text-body px-2"><i class="bi bi-facebook me-2"></i></a>
                <a href="" class="text-decoration-none text-body px-2"><i class="bi bi-instagram me-2"></i></a>
                <a href="" class="text-decoration-none text-body px-2"><i class="bi bi-linkedin me-2"></i></a>
            </div>
        </div>
        
        <!-- Navbar -->
        <div class="container-fluid bg-white shadow-sm">
            <div class="container">
                <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 fixed-top">
                    <div class="container d-flex align-items-center" style="height: 50px;">
                        <!-- AMC Logo -->
                        <a href="" class="navbar-brand d-flex align-items-center">
                            <h1 class="m-0 text-uppercase text-primary d-flex align-items-center">
                                <i class="fa fa-clinic-medical me-2"></i>
                                AMC
                            </h1>
                        </a>
                        <!-- Navbar Toggler -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <!-- Navbar Links -->
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <ul class="navbar-nav ms-auto align-items-center">
                                <li class="nav-item">
                                    <a href="" class="nav-link px-3" routerLink="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link px-3" routerLink="/about">About</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
                                    <ul class="dropdown-menu">
                                        <li *ngFor="let section of sections" class="dropdown-item">
                                            <a href="#" class="dropdown-item">
                                                {{ section.name }}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link px-3">Markets</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" class="nav-link px-3" routerLink="/contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

