<!-- make it container-fluid for full width -->
<div class="container bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5 text-white" 
                    style="border-color: rgba(256, 256, 256, 0.3) !important;">
                    Welcome to AMC
                </h5>
                <h1 class="display-1 text-white mb-md-4">
                    Best Health Care Solution In Your City
                </h1>
                <div class="pt-2">
                    <a href="\about" class="btn btn-outline-light rounded-pill py-md-3 px-md-5 mx-2">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-about></app-about>
<app-contact></app-contact>

